# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pkl

# Virtual environments
env/
venv/

# System files
.DS_Store
Thumbs.db

# Rasa cache and model files
.rasa/
models/
*.db

# VS Code settings
.vscode/

# Logs
*.log

# Model files
model/classifier.pkl
model/vectorizer.pkl